
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    background-color: #5C7345;
}

h1{
    color: #D96941;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
main{
    padding: 16px;
}
img{
    height: 200px;
}
nav{
    border: 0 0 1px 0;
    padding: 16px;
}
footer{
   position: bottom;
   background-color: #04C4D9;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 25px;
}
a:not(.main-page-link):hover{
    color: olive;
}
a{
    text-decoration: none;
}

.recipe-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: space-evenly;
}


.recipe-items div img:hover{
    box-shadow: 10px 5px 2px 1px rgba(0, 42, 255, 0.113);
    transition: box-shadow 1s;
}

.main-page-link{
    color: white
}
tr:nth-child(2n){
    background-color: rgba(128, 128, 128, 0.218);
}
